pipeline/MovefilesbasedonExtenssion.json
{
	"name": "MovefilesbasedonExtenssion",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_stwafastudiesgen2_copy1",
						"type": "DatasetReference",
						"parameters": {
							"folderpath": {
								"value": "@pipeline().parameters.folderpath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'.csv' )   ",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folderpath": {
				"type": "string",
				"defaultValue": "a"
			},
			"csvpath": {
				"type": "string",
				"defaultValue": "a/csv files"
			},
			"txtpath": {
				"type": "string",
				"defaultValue": "a/txt files"
			}
		},
		"annotations": []
	}
}